<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.css")
body
  article.container
    h1 Hola Mundo A todos
    a.btn.btn-info Ver mas
