extends layout

block content
  section.jumbotron
    .container
      h1 Hola Mundo con Jade
      p.text-right
        a.btn.btn-info.btn-lg Ver Detalle
  
  
  //- section.container>.row>article.col-xs-6.col-sm-3*4
  section.container
    .row
      article.col-xs-6.col-sm-3
        img.img-responsive.center-block(src="http://placehold.it/400x300", alt="")
        h4.text-center Titulo
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum facere ullam soluta blanditiis placeat debitis, porro maxime alias voluptates.
        a.btn.btn-info.btn-block(href="") Ver Detalle
      article.col-xs-6.col-sm-3
        img.img-responsive.center-block(src="http://placehold.it/400x300", alt="")
        h4.text-center Titulo
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum facere ullam soluta blanditiis placeat debitis, porro maxime alias voluptates.
        a.btn.btn-info.btn-block(href="") Ver Detalle
      article.col-xs-6.col-sm-3
        img.img-responsive.center-block(src="http://placehold.it/400x300", alt="")
        h4.text-center Titulo
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum facere ullam soluta blanditiis placeat debitis, porro maxime alias voluptates.
        a.btn.btn-info.btn-block(href="") Ver Detalle
      article.col-xs-6.col-sm-3
        img.img-responsive.center-block(src="http://placehold.it/400x300", alt="")
        h4.text-center Titulo
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum facere ullam soluta blanditiis placeat debitis, porro maxime alias voluptates.
        a.btn.btn-info.btn-block(href="") Ver Detalle
